# Virtual environment
.venv/

# Compiled Python files
__pycache__/
*.pyc

# SQLite database
workload.db

# VS Code settings
.vscode/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore all CSV and excel outputs
*.csv
*.xlsx